# Base requirements
# Add common packages here

# Jalaj section
# Jalaj can add his requirements here

# End of Jalaj section

# Swadhin section
# Swadhin can add his requirements here

# End of Swadhin section

# Soumyadeb section
# Soumyadeb can add his requirements here

# End of Soumyadeb section

# Priyapal section
# Priyapal can add his requirements here

# End of Priyapal section

# yash section
# yash can add his requirements here

# End of yash section

# Sumant section
# Sumant can add his requirements here

# End of Sumant section

# Minakshi section
# Minakshi can add her requirements here

# End of Minakshi section

