# Base requirements
# Add common packages here

# Jalaj section
# Jalaj can add his requirements here
SpeechRecognition>=3.8.1
PyAudio>=0.2.11

# End of Jalaj section

# Swadhin section
# Swadhin can add his requirements here

# End of Swadhin section

# Soumyadeb section
# Soumyadeb can add his requirements here

# End of Soumyadeb section

# Priyapal section
# Priyapal can add his requirements here

# End of Priyapal section

# yash section
# yash can add his requirements here
pyttsx3>=2.90

# End of yash section

# Sumant section
# Sumant can add his requirements here

# End of Sumant section

# Minakshi section
# Minakshi can add her requirements here
pyttsx3~=2.99
# End of Minakshi section